{% load static %}

<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8"/>
    <title>Track Parcel - Fast Courier </title>
    <meta name="description" content="Courier Euconlogistics V3.2.2 "/>
    <meta name="keywords" content="Courier Euconlogistics-Integral Web System"/>
    <meta name="author" content="Euconlogistics">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link href="{% static 'img/favicon.ico.jpg' %}" rel="icon">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/pin/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pin/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pin/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/pin/fontawesome-all.min.css' %}">
    <link href="{% static 'css/pin/font-awesome.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/pin/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/pin/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/pin/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/pin/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/pin/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/pin/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/pin/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/pin/responsive.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">



    <link rel="stylesheet" href="{% static 'css/pin/default.css' %}" />

    <!-- Cloud Slider Style Sheet -->
    <link rel="stylesheet" href="{% static 'css/pin/cloudslider.css' %}" type="text/css">

    <!-- Importing Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- Importing jQuery -->
    <script src="{% static 'js/pin/jquery.js' %}" type="text/javascript"></script>

    <!-- Cloud Slider Library -->
    <script src="{% static 'js/pin/cloudslider.jquery.min.js' %}" type="text/javascript"></script>

    <style type="text/css">
        #wrapper {
            position: relative;
        }

        #wrapper .text {
            position: absolute;
            visibility: hidden;
            width: 300%;
            bottom: 15px;
            left: -95px;
        }

        #wrapper:hover .text {
            visibility: visible;
        }
    </style>

</head>

<!-- Menu -->
<body>
<div id="container">
    <div class="fw mpHeader slide">



<header>
    <div class="header-top-wrap purple-bg d-none d-md-block">
        <div class="container-fluid header-container-p">
            <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-6">
                    <div class="header-contact">
                        <ul>
                            <li><i class="fas fa-headphones"></i>Call us +1(937)-756-3434</li>
                            <li><i class="far fa-envelope"></i><a href="mailto:contact@eucologisticsdelivery.com" class="">contact.fastcourier@outlook.com</a></li>
                            <li><i class="fas fa-map-marker"></i>Random Rd Cleveland, OH 44106, USA</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-6">
                    <div class="header-top-right d-flex justify-content-end align-items-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="header-sticky" class="main-header">
        <div class="container-fluid header-container-p">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6">
                    <div class="logo">
                        <h1 class="m-0 display-5 text-uppercase text-primary"><i class="fa fa-truck mr-2"></i>Fast Courier  </h1>
                    </div>
                </div>
                <div class="col-lg-9 col-md-6 d-none d-md-block">
                    <div class="menu-area">
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="active"><a href="{% url 'index' %}">Home</a>
                                    </li>
                                    <li><a href="{% url 'about' %}">Company</a></li>
                                    <li><a href="{% url 'index' %}">Tracking</a></li>


                                    <li><a href="{% url 'contact' %}">Support</a></li>
                                    <li><a href="{% url 'receipts' %}">Print Receipt</a></li>

                                    <li><b style="color: #fff;"> Hello {{request.user.username}}</b><br>

                                    {% comment %} {% endcomment %}
                                </ul>

                            </nav>
                        </div>

                        <div class="header-btn">
                            <a href="{%  url 'logout' %}" class="btn">Logout</a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="mobile-menu"></div>
                </div>
            </div>
            <!-- Modal Search -->

            <!-- Modal -->

        </div>
    </div>
</header>
</div>
<!-- /Menu -->





    <div class="slide"></div>
    <main class="slide">
    <div class="fw">
        <center class="mt-5">
            <section class="title">
                <header>
                    <h1><img src="{% static 'img/tracking-search.png' %}"/>Parcel Tracking</h1>
                </header>
                <div class="media-left">

                </div>
            </section>
        </center>
    </div>
    <div class="container">

    <div class="tracking-area pt-95 pb-115">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-10">
                    <div class="tracking-id-info text-center">

                        <div class="pt-3">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                                       href="#home" role="tab" aria-controls="nav-home" aria-selected="true">CONSULT
                                        LOCAL SHIPPING</a>
                                </div>
                            </nav>
                        </div>

                        <div class="tab-content" id="myTabContent">

                        </div>

                                                    <div class="container">
                                <div class="alert alert-danger" role="alert">
                                    TRACKING ID: <b>{{request.user.product.tracking_id}}</b> IS ON <a href="{% url 'contact' %}" target="_blank" class="alert-link"><b style="color: red;">{{request.user.product.movement}}</b></a>
                                    Contact Support for more Info.
                                </div>
                                
                            <div class="tracking-list">
                                                                <div class="">
                                    <h3><h3 style="color: red;">ON {{request.user.product.movement}}</h3></h3>
                                </div>
                                                                <ul>
                                    <li class="active">
                                        <div class="tracking-list-icon">
                                            <img class="img-fluid w-100"  style="max-width: 30px; max-height:30px;
                                            margin: 0 auto;
                                            border-radius: 50%;" src="{% static 'img/box.png' %}" alt="">
                                            </div>
                                        <div class="tracking-list-content">
                                            <p>{{request.user.tracking.order_placed}}</p>
                                        </div>
                                    </li>
                                    <li class="active">
                                        <div class="tracking-list-icon">
                                            <div class="tracking-list-icon">
                                                <img class="img-fluid w-100"  style="max-width: 30px; max-height:30px;
                                                margin: 0 auto;
                                                border-radius: 50%;" src="{% static 'img/home.png' %}" alt="">
                                                </div>                                        </div>
                                        <div class="tracking-list-content">
                                            <p>{{request.user.tracking.sorting_facility}}</p>
                                        </div>
                                    </li>
                                    <li class="active">
                                        <div class="tracking-list-icon">
                                            <img class="img-fluid w-100"  style="max-width: 30px; max-height:30px;
                                            margin: 0 auto;
                                            border-radius: 50%;" src="{% static 'img/home.png' %}" alt="">                                        </div>
                                        <div class="tracking-list-content">
                                            <p>{{request.user.tracking.picked_up_by_courier}}</p>
                                        </div>
                                    </li>
                                    <li class="active">
                                        <div class="tracking-list-icon">
                                            <img class="img-fluid w-100"  style="max-width: 30px; max-height:30px;
                                            margin: 0 auto;
                                            border-radius: 50%;" src="{% static 'img/location.png' %}" alt="">                                        </div>
                                        <div class="tracking-list-content">
                                            <p>{{request.user.tracking.in_transit_to_destination_city}}</p>
                                        </div>
                                    </li>
                                    <li class="active">
                                        <div class="tracking-list-icon">
                                            <img class="img-fluid w-100"  style="max-width: 30px; max-height:30px;
                                            margin: 0 auto;
                                            border-radius: 50%;" src="{% static 'img/location.png' %}" alt="">                                        </div>
                                        <div class="tracking-list-content">
                                            <p>{{request.user.tracking.arrived_at_local_delivery_hub}}</p>
                                        </div>
                                    </li>
                                    <li class="active">
                                        <div class="tracking-list-icon">
                                            <img class="img-fluid w-100"  style="max-width: 30px; max-height:30px;
                                            margin: 0 auto;
                                            border-radius: 50%;" src="{% static 'img/checklist.png' %}" alt="">                                        </div>
                                        <div class="tracking-list-content">
                                            <p>{{request.user.tracking.ready_for_delivery}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>


                            <div class="tracking-help">
                                <p>MULTIPLE TRACKING NUMBERS | <a href="{% url 'contact' %}">NEED HELP?</a></p>
                            </div>

                            </div>
                    </div>
                </div>
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <table class="table table-striped table-bordered text-capitalize">
                                <thead>
                                <tr>
                                    <th colspan="2" class="text-center">Shipment Information</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Usps</th>
                                        <th>{{request.user.product.usps}}</th>
                                    </tr>
                                <tr>
                                    <th>Origin</th>
                                    <th>{{request.user.product.origin}}</th>
                                </tr>
                                <tr>
                                    <th>Package Name</th>
                                    <th>{{request.user.product.package_name}}</th>
                                </tr>
                                <tr>
                                    <th>Destination</th>
                                    <th>{{request.user.product.destination}}</th>
                                </tr>
                                <tr>
                                    <th>Service mode</th>
                                    <th>{{request.user.product.delivery}}</th>
                                </tr>
                                <tr>
                                    <th>Type service</th>
                                    <th>{{request.user.product.service_type}} </th>
                                </tr>
                                <tr>
                                    <th>Weight</th>
                                    <th>{{request.user.product.weight}}</th>
                                </tr>
                                <tr>
                                    <th>Expected Delivery Date</th>
                                    <th> {{request.user.product.pick_up_date}}</th>
                                </tr>
                                <tr>
                                    <th>Shipping description</th>
                                    <th>{{request.user.product.description}}</th>
                                </tr>
                                <tr>
                                    <th>Mode of payment</th>
                                    <th>{{request.user.product.method_of_payment}}</th>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <th>{{request.user.product.status}}</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 col-12">
                            <table class="table table-striped table-bordered text-capitalize">
                                <thead>
                                <tr>
                                    <th colspan="2" class="text-center">Shipper Information</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>Name</th>
                                    <th> {{user.first_name}} {{user.last_name}}</th>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <th>{{request.user.customer.phone_number}} </th>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <th> {{request.user.customer.address}}</th>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped table-bordered text-capitalize">
                                <thead>
                                <tr>
                                    <th colspan="2" class="text-center">Receiver Information</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th>Name</th>
                                    <th>{{request.user.product.reciever_name}}</th>
                                </tr>
                                <tr>
                                    <th>Phone</th>
                                    <th>{{request.user.product.phone_number}}</th>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <th>{{request.user.product.address}}</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <center><h5>Package: <img src="{{request.user.map_image.package_image.url}}" style="width: 60%;" alt=""></h5></center>

<br>
<br>
<br>

                    </div>
                    <center><h5>Package Location: <div class="mapswrapper"><iframe width="380" height="400" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8&q={{request.user.map_image.map}}&zoom=10&maptype=roadmap"></iframe><a href="https://dodsafe.org">dod safe</a><style>.mapswrapper{background:#fff;position:relative}.mapswrapper iframe{border:0;position:relative;z-index:2}.mapswrapper a{color:rgba(0,0,0,0);position:absolute;left:0;top:0;z-index:0}</style></div></h5></center>

                </div>
            </div>
        </div>
    </div>
    
    </main>
<!-- footer -->
<footer>
    <div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
    <div class="footer-wrap pt-190 pb-40" data-background="{% static 'img/footer_bg.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer-widget mb-50">
                        <div class="footer-logo mb-35">
                            <h1 class="m-0 display-5 text-uppercase text-primary"><i class="fa fa-truck mr-2"></i>Fast Courier  </h1>
                        </div>
                        <div class="footer-text">
                            <p>Fast Courier   Company is a courier service company run by a group of professionals providing the most effective solutions using its own fleet and staffs. In the modern age of international business, this type of service has become a keystone of enterprise.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer-widget mb-50">
                        <div class="fw-title mb-30">
                            <h5>RECENT POSTS</h5>
                        </div>
                        <div class="f-rc-post">
                            <ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer-widget mb-50">
                        <div class="fw-title mb-30">
                            <h5>USEFUL LINKS</h5>
                        </div>
                        <div class="fw-link">
                            <ul>
                                <li><a href="{% url 'about' %}"><i class="fas fa-caret-right"></i> About us</a></li>
                                <li><a href="{% url 'contact' %}"><i class="fas fa-caret-right"></i>Contact us</a></li>
                                <li><a href="{% url 'logout' %}"><i class="fas fa-caret-right"></i>Logout</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer-widget mb-50">
                        <div class="fw-title mb-30">
                            <h5>Support & Downloads</h5>
                        </div>
                        <div class="f-support-content">
                            <p>Fast Courier  is an innovative service is effective logistics solution for the delivery of small cargo.
                            </p>
                            <!-- <a href="#" class="f-download-btn"><img src="./assets/img/images/f_download_btn01.png" alt="img"></a>
                            <a href="#" class="f-download-btn"><img src="./assets/img/images/f_download_btn02.png" alt="img"></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7">
                    <div class="copyright-text">
                        <p>Copyright© <span>Fast Courier  </span> | All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="f-payment-method text-center text-md-right">
                        <img src="{% static 'img/card_img.png' %}" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- footer-end -->
<!-- JS here -->
<!--<script data-cfasync="false" src="https://euconsegna.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>-->
<script src="{% static 'js/pin/popper.min.js' %}"></script>
<script src="{% static 'js/pin/bootstrap.min.js' %}"></script>
<script src="{% static 'js/pin/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/pin/slick.min.js' %}"></script>
<script src="{% static 'js/pin/jquery.meanmenu.min.js' %}"></script>
<script src="{% static 'js/pin/ajax-form.js' %}"></script>
<script src="{% static 'js/pin/wow.min.js' %}"></script>
<script src="{% static 'js/pin/aos.js' %}"></script>
<script src="{% static 'js/pin/paroller.js' %}"></script>
<script src="{% static 'js/pin/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/pin/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/pin/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/pin/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/pin/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/pin/jquery.magnific-popup.min.js' %}"></script>
<script src="https://euconsegna.com/maps/api/js?key=AIzaSyCo_pcAdFNbTDCAvMwAD19oRTuEmb9M50c"></script>
<script src="{% static 'js/pin/plugins.js' %}"></script>
<script src="{% static 'js/pin/main.js' %}"></script>

<script>

    $("#cloudslider").cloudSlider({
        width: 1920,
        height: 550,
        onHoverPause: false
    });

</script>
<script type="text/javascript">

    function volumetrico(){

        var num2 = "1.341";
        var volume1 = document.getElementById("volume1");
        var volume2 = document.getElementById("volume2");
        var volume3 = document.getElementById("volume3");
        var input = document.getElementById("totalpeso");
        totalpeso = parseFloat(Math.round(volume1.value * volume2.value * volume3.value) /6000 ).toFixed(1);
        input.value= totalpeso;

    }
</script>

</body>
</html>
